{
"MICROSERVICE_URL"  : "http://grocifyorder-env.eba-ipxywxp8.eu-west-2.elasticbeanstalk.com:5000/api",
"DATABASE_URL"      : "postgresql://USERNAME:PASSWORD@HOST:PORT/grocery_Product",
"DEBUG"             : "True",
"SECRET_KEY"    :  "GT6kS1_ascJ2lv8LvL-QIiXGzsBjJvGmFJri5YmKQU6wBamEn3kVjN4YsyTKBTQlH-vz--tLRi-HqToRuHHWeQ=="
}