{
"MICROSERVICE_URL"  : "http://grocifyorder-env.eba-ipxywxp8.eu-west-2.elasticbeanstalk.com:5000/api",
"DATABASE_URL"      : "postgresql://postgres:SHMIgtBBk1zQKYhMSmDX@database-1.c3u0oys8ik2c.eu-west-2.rds.amazonaws.com:5432/grocery_Product",
"DEBUG"             : "True",
"SECRET_KEY"    :  "your-very-secret-key"
}